{% extends 'base.html.twig' %}

{% block title %}Mon compte - Garage{% endblock %}

{% block content %}

    <h1 class="heading "><span>Modifier mon </span>mot de passe</h1>
    <a href="{{path('account')}}" class="text-center btn btn-block">Retourner à mon compte</a><br>
    
    {% if notification %}
        <div class="alert alert-info">{{notification}}</div>
    {% endif %}
    <div class="formInputText" {{form (form)}}</div>

{% endblock %}
