<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Atelier de mecanique et garage automobile toutes marques, vente de vehicules d'occasion."/>
    <meta name="”robots”" content="”index," follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1″/>
    <meta name="author" content="Kardigué Magassa"/>
	{# <meta name="generator" content="Jekyll v4.1.1"> meail= garagvparrot@outlook.com mdp = Parrot1984#}
	{# meail= johndoe@outlook.com mdp = Johndoe1984#}

    <!-- Bootstrap core CSS -->
    <link href="{{asset('assets/css/bootstrap.min.css') }}" rel="stylesheet">

	<link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
	<link href="{{asset('assets/css/style.css') }}" rel="stylesheet">

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

	<title>{% block title %}Garage Vincent Parrot-{% endblock title %}</title>

</head>
<body>

	{# HEADER #}
	{% include "partials/nav.html.twig" %}


	{# main #}
	{% include "partials/customHeader.html.twig" %}

	<div class="container "> {% block content %}{% endblock %}</div>

	{% include "partials/customTestimonial.html.twig" %}


	{# <!-- FOOTER --> #}
	{% include "partials/footer.html.twig" %}


	{% block javascript %}{% endblock %}

	<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
	<script src="{{ asset('assets/js/script.js') }}"></script>

	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="{{ asset('assets/js/bootstrap.bundle.js') }}"></script>
</body>
</html>